  lint-type-validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Install Ruff
        run: python -m pip install "ruff==0.14.3"

      - name: Run Ruff
        run: ruff check . --show-source

      - name: Run Mypy
        run: |
          pip install mypy
          mypy --config-file mypy.ini

      - name: Run Hassfest
        uses: home-assistant/actions/hassfest@master
